<!DOCTYPE html>
<html ng-app="spaceLinks">
  <head>
    <link rel="stylesheet" href="lib/style.css">
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
  <div ng-controller="presentPosts">
    <div class="centered">
      <h1>Open Source Data</h1>
      <input ng-model="key" ng-keyup="onSearch()"></input>
      <button ng-click="buttonClick('all')">all</button>
      <button ng-click="buttonClick('aeronautics')">aeronautics</button>
      <button ng-click="buttonClick('earth-science')">earth-science</button>
      <button ng-click="buttonClick('space-science')">space-science</button>
      <button ng-click="buttonClick('life-science')">life-science</button>
      <button ng-click="buttonClick('climate')">climate</button>
      <button ng-click="buttonClick('engineering')">engineering</button>
      <button ng-click="buttonClick('operations')">operations</button>
      <button ng-click="buttonClick('tags')">tags</button>
      <button ng-click="buttonClick('random')">random</button>
      <button ng-click="buttonClick('shuffle')">shuffle</button>
      <button ng-click="buttonClick('rank')">click-rank</button>
    </div>
    <div class='container'></div>
  </div>
  </body>
</html>
