<!DOCTYPE html>
<html ng-app="spaceLinks">
  <head>
    <link rel="stylesheet" href="lib/style.css">
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
  <div ng-controller="presentPosts">
    <div class="centered">
      <h1>Open Source Data</h1>
      <input ng-model="key" ng-keyup="onSearch()"></input>
      <button ng-click="buttonClick()">all</button>
      <button ng-click="buttonClick()">aeronautics</button>
      <button ng-click="buttonClick()">earth-science</button>
      <button ng-click="buttonClick()">space-science</button>
      <button ng-click="buttonClick()">life-science</button>
      <button ng-click="buttonClick()">climate</button>
      <button ng-click="buttonClick()">engineering</button>
      <button ng-click="buttonClick()">operations</button>
      <button ng-click="buttonClick()">tags</button>
      <button ng-click="buttonClick()">random</button>
    </div>
    <div class='container'></div>
  </div>
  </body>
</html>
